<?xml version="1.0" encoding="UTF-8" ?>

<suite name = "TestSuite">
    <test name = "TestCase" preserve-order="true">
        <classes>
            <class name = "com.to8to.o2o.testScripts.goods.TestCaseGoodsBusinessForUI">
                <methods>
                    <include name = "addGoodsSuccess"/>
                    <include name = "submitGoodsForReviewSuccess"/>
                    <include name = "cancelGoodsForReviewSuccess"/>
                    <include name = "updateGoodsSuccess"/>
                    <include name = "onShelvesGoodsSuccess"/>
                    <include name = "offShelvesGoodsSuccess"/>
                    <include name = "batchOnShelvesGoodsSuccess"/>
                    <include name = "batchOffShelvesGoodsSuccess"/>
                    <include name = "getGoodsListSuccess"/>
                    <include name = "getGoodsListGroupSuccess"/>
                    <include name = "viewGoodsListSuccess"/>
                    <include name = "setAdvertisingGoodsListSuccess"/>
                    <include name = "getAdvertisingGoodsListSuccess"/>
                </methods>
            </class>

            <class name = "com.to8to.o2o.testScripts.goods.TestCaseGoodsCustomerForUI">
                <methods>
                    <include name = "getGoodsListSuccess"/>
                    <include name = "getHotGoodsListSuccess"/>
                    <include name = "getGoodsListGroupSuccess"/>
                    <include name = "viewGoodsListSuccess"/>
                    <include name = "selectRecommendGoodsListSuccess"/>
                </methods>
            </class>
        </classes>
    </test>

<listeners>
    <listener class-name = "com.to8to.o2o.util.ExtentTestNGIReporterListener"/>
</listeners>
</suite>