<?xml version="1.0" encoding="UTF-8" ?>

<suite name = "O2O-TestSuite" preserve-order="true">
    <test name = "SmokeGoodsBusinessTestCase" >
        <classes>
            <class name = "com.to8to.o2o.testScripts.goods.TestCaseGoodsBusinessForUI">
                <methods>
                    <include name = "addGoodsSuccess"/>
                    <include name = "submitGoodsForReviewSuccess"/>
                    <include name = "cancelGoodsForReviewSuccess"/>
                    <include name = "updateGoodsSuccess"/>
                    <include name = "onShelvesGoodsSuccess"/>
                    <include name = "offShelvesGoodsSuccess"/>
                    <include name = "batchOnShelvesGoodsSuccess"/>
                    <include name = "batchOffShelvesGoodsSuccess"/>
                    <include name = "getGoodsListSuccess"/>
                    <include name = "getGoodsListGroupSuccess"/>
                    <include name = "viewGoodsListSuccess"/>
                    <include name = "setAdvertisingGoodsListSuccess"/>
                    <include name = "getAdvertisingGoodsListSuccess"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="SmokeGoodsCustomerTestCase">
        <classes>
            <class name = "com.to8to.o2o.testScripts.goods.TestCaseGoodsCustomerForUI">
                <methods>
                    <include name = "getGoodsListSuccess"/>
                    <include name = "getHotGoodsListSuccess"/>
                    <include name = "getGoodsListGroupSuccess"/>
                    <include name = "viewGoodsListSuccess"/>
                    <include name = "selectRecommendGoodsListSuccess"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="SmokeGoodsPlatformTestCase">
        <classes>
            <class name = "com.to8to.o2o.testScripts.goods.TestCaseGoodsPlatformForUI">
                <methods>
                    <include name = "getGoodsListSuccess"/>
                    <include name = "getGoodsListCategorySuccess"/>
                    <include name = "auditGoodsPassedSuccess"/>
                    <include name = "auditGoodsRejectSuccess"/>
                </methods>
            </class>
        </classes>
    </test>

<listeners>
    <listener class-name = "com.to8to.o2o.util.ExtentTestNGIReporterListener"/>
</listeners>
</suite>